
@font-face {
    font-family: 'Keep Calm';
    src: url('KeepCalm-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;;
    font-family: 'Keep Calm', sans-serif;
    background-color: rgba(0, 0, 0, .1);
}
.title img{
    object-fit: cover;
    width: 40px;
    height: 40px;
}
.title{
    display: flex;
    background: #08596a;
    color: #ffffff;
    margin:0px;
    padding: 40px 555px;
    align-content: center;
}
.subtitulo{
    display: flex;
    color: #08596a;
    background-color: rgba(250,250,250,0.5);
}
.subtitulo h2{
    margin: 20px;
    padding-left: 100px;
}
.paladerecha{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 0px;
    font-size: 10px;
}
.paladerecha a{
    padding: 13px 0px 0px 0px;
    border: 1px solid black;
}
/*h3{
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 15px;
    margin: 0px;
    color: #000;
    background-color: rgba(0, 0, 0, .1);
*/
.cursos_fila1 {
    display: grid;
    column-gap: 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 40px 200px 0px 200px;
    color: #ffffff;
}
.cursos_fila1 img{
    object-fit: cover;
    width: 200px;
    height: 200px;
    
}
.cursos_fila1 a{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    display: grid;
    color: #fff;
    margin: 20px;
    padding: 30px;
}
.cursos_fila1 a:hover{
    text-decoration: underline;
}
.algo{
    background: rgba(8, 89, 106, .6);
    border-radius: 30px;
}
.TGS{
    background: rgba(8, 89, 106, .6);
    border-radius: 30px;
}
.Orga{
    background: rgba(8, 89, 106, .6);
    border-radius: 30px;
}
.Ingeco{
    background: rgba(8, 89, 106, .6);
    border-radius: 30px;
}
.cursos_fila1 h4{
    padding: 20px;
    align-content: center;
    border-radius: 30px;
}
.cursos_fila2 {
    display: grid;
    column-gap: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 40px 350px 0px 350px;
    color: #ffffff;
}
.cursos_fila2 img {
    object-fit: cover;
    width: 200px;
    height: 200px;
}
.cursos_fila2 a{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    display: grid;
    color: #fff;
    margin: 20px;
    padding: 30px;
}
.cursos_fila2 a:hover{
    text-decoration: underline;
}
.cursos_fila2 h4{
    padding: 20px;
    align-content: center;
    border-radius: 30px;
}
.Estadistica{
    background: rgba(8, 89, 106, .6);
    border-radius: 30px;
}
.series{
    background: rgba(8, 89, 106, .6);
    border-radius: 30px;
}
.mate_discreta {
    background: rgba(8, 89, 106, .6);
    border-radius: 30px;
}
/*arreglos de las imagenes porque no se ajustan y no se como hacerlo*/
.TGS img{
    padding-top: 15px;
}
.Orga img{
    padding-top: 15px;
}
.Ingeco img{
    padding-top: 30px;
}
.Estadistica img{
    padding-top: 20px;
}
.mate_discreta img{
    padding-top: 20px;
}
/*Responsive*/
